/target/
/logging.log
/logging.uobm.b4optimization.log
/catalog-v001.xml
/logging.log.1
/logging.log.2
/logging.log.3
/logging.log.4
/logging.log.5
/logging.log.6
/logging.log.7
/logging.log.8
/logging.log.9
/logging.log.10
/normalizedTBox27_Aug@17_01.owl
/.DS_Store
