/tbox1.owl-horn-abstraction-konclude.result.txt
/tbox1.owl-horn-abstraction-with-fact.result.txt
/tbox1.owl-horn-abstraction-with-hermit.result.txt
/tbox1.owl-horn-abstraction-with-pellet.result.txt
/tbox1.owl-horn-konclude.result.txt
/tbox1.owl-horn-with-fact.result.txt
/tbox1.owl-horn-with-hermit.result.txt
/tbox1.owl-horn-with-pellet.result.txt
/tbox1.owl-nonhorn-abstraction-konclude.result.txt
/tbox1.owl-nonhorn-abstraction-with-fact.result.txt
/tbox1.owl-nonhorn-abstraction-with-hermit.result.txt
/tbox1.owl-nonhorn-abstraction-with-pellet.result.txt
/tbox1.owl-nonhorn-konclude.result.txt
/tbox1.owl-nonhorn-with-fact.result.txt
/tbox1.owl-nonhorn-with-hermit.result.txt
/tbox1.owl-nonhorn-with-pellet.result.txt
